*{
    margin: 0;
    padding: 0;
}

a{
    outline: none;
    text-decoration: none;
}

#root{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.page{
    display: flex;
    justify-content: center;
    align-items: center;
}