.input{
    width: 200px;
    border-radius: 10px;
}

.input[type=submit] {
    width: 204px;
    border: none;
    color: white;
    background: salmon;
    transition: 0.2s;
}

.input[type=submit]:hover{
    color: salmon;
    background: white;
}